{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaiaur Django App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body> 
    <h1 class="Heading">Welcome to the Chai aur Django App</h1> 

    <div class="content">
        <p>Chai aur Django is a web application that allows users to explore the world of tea and Django development. 
            It provides information about different types of tea, brewing techniques, and the latest trends in Django development.</p>

        <p> Whether you are a tea enthusiast or a Django developer, this app has something for everyone. 
            You can browse through a variety of tea recipes, learn about the health benefits of different teas, and discover new ways to enhance your Django projects.</p>
        <div class="card">
            <h2>My Project</h2>
            <p>This is my project.</p>
            <button>View</button>
        </div>
    </div>
</body>
</html>    


