{% extends 'layout.html' %}

{% block title %}
    Home - Chai aur Django
{% endblock %}

{% block content %}
    <header>
        <h1>Welcome to Chai aur Django</h1>
        <p>Your go-to place for all things chai and Django.</p>
    </header>

    <main>

        <section class="intro">
            <h2>Discover the World of Chai</h2>
            <p>
                Dive into a collection of tea recipes, brewing tips, and
                interesting facts about your favourite beverage.
            </p>
        </section>

        <section class="django">
            <h2>Learn Django with Us</h2>
            <p>
                LALALALALALALALALA
            </p>
        </section>

    </main>

    <footer>    
        <p>Made with ☕ and code.</p>
    </footer>
    <div class="grid grid-cols-3 gap-4 m-6">

    {% for chai in chais %}
    <div class="chai-item">

        

        <img class = "rounded-3xl py-2"
        src="{{ chai.image.url }}" 
        alt="{{ chai.name }}"
        width="300"
        height="200"
        >
        <p class= " text-lg py-2">Name: {{ chai.name }}</p>

        <a href="{% url 'chai_detail' chai.id %}">
            <button
            type="button" class= "bg-red-950 hover:bg-red-800 text-white font-bold py-2 px-4 rounded" >
                {{chai.type}} - {{ chai.id}}
            </button>
        </a>

    </div>
    {% endfor %}
    </div>


{% endblock %}

